<%- include("header.ejs") %>


<div class="container">
    <h1>Weather App</h1>
    <form action="/" method="post">
    <input id =" cityInput" type="text" name="cityName" placeholder="Enter City Name..." required>
    <button type="submit">Search</button>
    </form>
</div>
    



    <%- include("footer.ejs") %>